@import '@fontsource/space-grotesk/index.css';
@import '@fontsource/inter/index.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Space Grotesk', 'Inter', ui-sans-serif, system-ui;
  background: #0a0a23;
  color: #fff;
}
